
header {
  position: fixed;
  top: -8px;
  width: 100vw;
  display: block;
  margin: 0 auto;
}

ul > li > a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: rgb(0, 255, 242);
}

.logo {
  border-radius: 10%;
}


#hero{
  padding-top: 100px;
}
.hero-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.first-character {
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  color: blueviolet;
}


.text-justify {
  text-align: justify;
}

blockquote {
  display: block;
  margin: 0 auto;
}

.photo-story {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.photo-story__photo {
  height: 200px;
  width: 300px;
  border-radius: 3%;
}

